body{
  background-color:rgb(246, 246, 246);
}

.required:after {
    content:" *"; 
    color: red;
  }

  .table{
    font-size:small;
  }

.expande{
    cursor: pointer;
}

/* Css do elemento de loading */

.loading{
  display: none;
  margin: auto;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border-top-color: #fff;
  animation: spin 1s infinite;
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'space_mono';
  src:url('SpaceMono-Regular.ttf')
}

@font-face {
  font-family: 'pop';
  src:url('Poppins-Regular.ttf');
}

body {
  font-family: 'space_mono',  monospace;
}

h3 {
  font-family: 'pop', sans-serif;
  font-weight: bold;
}

h5 {
  font-family: 'pop', sans-serif;
}